POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

AIRFLOW_FERNET_KEY=     # encrypts passwords stored in Airflow DB
AIRFLOW_SECRET_KEY=     # signs web sessions
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin